@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1A1818;
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}


.apexcharts-text, .apexcharts-title-text {
    fill: #fff !important;
}

.apexcharts-tooltip,
.apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-tooltip-title {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
}

.apexcharts-legend-text {
    color: #fff !important;
    border: 1px solid #555 !important;
}